# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env

# Model files
*.keras
*.h5
*.pkl
*.ckpt
*.pt

# Datasets
data/
*.zip

# Operating system
.DS_Store
Thumbs.db

# Temporary outputs
outputs/audio/
outputs/temp/

# VS Code
.vscode/